/* shared styles here  */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.primary-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.common-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.common-text {
  color: #534c64;
  font-size: 18px;
  max-width: 500px;
  padding-top: 1rem;
}
.red {
  color: red;
  font-size: 1.55rem;
}

/* header section here  */

/* nav-bar styles here  */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 30px 240px;
  align-items: center;
}
.logo-title {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 20px;
}
.title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.menu-item {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.menu-btn {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* banner section styles here  */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 240px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.banner-content {
  max-width: 720px;
  list-style: none;
  text-align: center;
}
.banner-heading {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}
.banner-title {
  font-size: 95px;
  font-weight: 800;
}
.banner-list {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  padding: 1rem 0;
  text-align: left;
  margin-left: 20px;
}
.banner-btn {
  margin-top: 25px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;
  margin-right: 24px;
  background-color: #ff42a5;
  border: 0;
  border-radius: 48px;
}

.banner-pic-container {
  max-width: 720px;
}
.banner-img {
  width: 100%;
}
/* online videos section here  */
.online-videos {
  max-width: 1440px;
  margin: 120px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.video-section {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.main-img {
  position: relative;
}
.main-img > img {
  width: 100%;
  height: auto;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  background: black;
  transition: opacity 0.5s ease-in 0.07s;
  border-radius: 1rem;
}
.content {
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 18px;
  color: white;
}
.overlay:hover {
  border: 2px solid #ff42a5;
  opacity: 0.85;
  cursor: pointer;
}
.video-img > p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}

/* play section styles  */
.play {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 240px;
}
.play-content {
  max-width: 720px;
}

.play-photo {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.play-big {
  width: 100%;
  border-radius: 8px;
}
.play-mini {
  position: absolute;
  width: 35%;
  bottom: -60px;
  left: -120px;
}

/* icon-seciton here */
.icon-section {
  max-width: 1440px;
  margin: 120px auto;
  padding: 20px 300px;
}
.icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.icon-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border-radius: 50px;
  padding: 5px;
  margin-top: 10px;
}
.icon-box:hover {
  color: #ff42a5;
  border: 1px solid #f948b2;
}

/* footer section here  */
footer {
  margin-top: 120px;
  background-color: #0b0223;
  padding: 50px 120px;
  text-align: center;
}
.footer-logo {
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
}

.footer-title {
  color: white;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

.footer-links {
  margin: 1rem auto;
  color: white;
  cursor: pointer;
  display: flex;
  gap: 5rem;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  flex-wrap: wrap;
}

.footer-icon > a {
  color: White;
  text-decoration: none;
  font-size: 3rem;
  padding: 1.5rem;
}

.footer-labels {
  color: rgb(150, 150, 150);
  max-width: 400px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .nav-bar,
  .nav-menu,
  .play {
    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 40px;
    gap: 30px;
  }
  .banner-content {
    text-align: center;
  }
  .online-videos {
    margin: 50px 0;
    text-align: center;
    padding: 10px;
  }
  .video-section {
    grid-template-columns: 1fr;
    padding: 40px;
  }

  .play-photo,
  .icon-section {
    padding: 40px;
  }

  .play-mini {
    width: 35%;
    bottom: 0px;
    left: 0px;
  }
  .icon-section,
  footer {
    margin-top: 50px;
    padding: 10px;
  }
  .icon-container {
    padding: 0;
  }
  .icon-box {
    width: 120px;
    justify-self: start;
    padding: 5px;
    gap: 0.5rem;
    font-size: 12px;
  }
  .icon-box > img {
    width: 20%;
  }
  .footer-links {
    gap: 2rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
  .nav-bar,
  .play {
    flex-direction: column;
    gap: 40px;
  }

  .banner,
  .nav-bar,
  .play,
  .play-photo,
  .icon-section {
    padding: 50px;
  }
  .online-videos,
  .icon-section {
    margin: 80px 0;
  }
  .banner-btn {
    padding: 12px 20px;
  }
  .video-section {
    padding: 12px 8px;
  }
  .play-mini {
    width: 35%;
    bottom: 0px;
    left: 0px;
  }
  .footer-links {
    gap: 1rem;
  }
}
